@bcp-nextgen-dx-component-factory:registry=https://pkgs.dev.azure.com/ptbcp/IT.Ignite/_packaging/BCP.Ignite.Dx.ComponentFactory/npm/registry/

@bcp-nextgen-dx-touchpoint-framework:registry=https://pkgs.dev.azure.com/ptbcp/IT.Ignite/_packaging/BCP.Ignite.Dx.Touch-Point-Framework/npm/registry/

always-auth=true